 /* Website Description  */

 .desc {
     width: 100%;
     padding: 5px 15px;
     margin: auto;
     background-color: #fff;
     border-radius: 10px;
 }

 .desc P {
     margin-bottom: 15px;
 }

 .lane-1 {
     margin: 10px;
 }

 .font-1 {
     color: #686868;
     font-size: 15px;
     margin-bottom: 10px;
     font-weight: bolder;

 }

 .font-2 {
     font-size: 14px;
     color: #878787;

 }